$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;
$red-600: #dc2626;
$red-700: #b91c1c;
$green-600: #16a34a;
$green-700: #15803d;
$orange-500: #f97316;
$orange-600: #ea580c;
$indigo-800: #3730a3;
$indigo-900: #312e81;
$radius: 0.5rem; /* Border radius value */
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

.col-span-4 {
  grid-column: span 4 / span 4;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-1 {
  gap: 0.25rem; /* 4px */
}

.h-full {
  height: 100%;
}

.bg-purple-600 {
  background-color: $purple-600;
}

.hover\:bg-purple-700:hover {
  background-color: $purple-700;
}

.bg-purple-800 {
  background-color: $purple-800;
}

.hover\:bg-purple-900:hover {
  background-color: $purple-900;
}

.bg-red-600 {
  background-color: $red-600;
}

.hover\:bg-red-700:hover {
  background-color: $red-700;
}

.bg-green-600 {
  background-color: $green-600;
}

.hover\:bg-green-700:hover {
  background-color: $green-700;
}

.bg-orange-500 {
  background-color: $orange-500;
}

.hover\:bg-orange-600:hover {
  background-color: $orange-600;
}

.bg-indigo-800 {
  background-color: $indigo-800;
}

.hover\:bg-indigo-900:hover {
  background-color: $indigo-900;
}

.text-white {
  color: #ffffff;
}

.p-1\.5 {
  padding: 0.375rem; /* 6px */
}

.rounded-lg {
  border-radius: $radius;
}

.text-xs {
  font-size: 1rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.font-bold {
  font-weight: 700;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.shadow-md {
  box-shadow: $shadow-md;
}

.hover\:shadow-lg:hover {
  box-shadow: $shadow-lg;
}

.border-0 {
  border: none;
}

@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

button {
  border: none;
  outline: none;
  
  &:focus {
    outline: none;
  }
}

@media (max-width: 1300px){
  .text-xs {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px){
  .text-xs {
    font-size: 0.6rem;
  }
}
